
@import url(/core/style/default.css);
@import url(/plugin/admin/style/main.css);

table th,
table td {
	vertical-align: baseline;
}

.slot_default {
	padding: 1em 2em 6em 2em;
	box-sizing: border-box;
}

.slot_header {
	overflow: visible;
}

	.slot_header h1 {
		width: auto;
		display: inline-block;
		margin-right: 2em;
	}


.actions {
	text-align: right;
	margin: 0em 0em -1em 0em;
	white-space: nowrap;
}

.heading_links {
	margin: 0em 0em 1em 0em;
}

.action:visited,
.heading_links a:visited,
.action,
.heading_links a,
input[type=submit],
input[type=button] {
	padding: 0.2em 0.6em;
	background: #369;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 0.5em;
	text-decoration: none;
	position: relative;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

	
	td .action {
		padding: 0.1em 0.4em;
	}

	.action:hover,
	.action:focus,
	.heading_links a:hover,
	.heading_links a:focus,
	input[type=submit]:hover,
	input[type=button]:focus {
		background: #47a;
	}

.entity_menu {
	display: inline-block;
}

	.entity_menu > input + label + div {
		display: none;
		position: absolute;
		border: 1px solid #000;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		background: #fff;
		z-index: 10000;
	}

	.entity_menu > input {
		display: none;
	}

	.entity_menu > input:checked + label + div {
		display: block;
	}

	.entity_menu a,
	a.admin_link,
	.entity_menu > input + label {
		display: block;
		padding: 0.3em 1em;
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	a.admin_link,
	.entity_menu > input + label {
		border-radius: 0.5em 0.5em 0em 0em;
	}


	.entity_menu > input:checked + label,
	.entity_menu a:hover,
	.entity_menu a:focus {
		background: #47a;
		color: #fff;
	}

	a.admin_link {
		display: inline-block;
	}

	.entity_menu label:hover,
	.entity_menu label:focus,
	a.admin_link:hover,
	a.admin_link:focus {
		background: #9be;
	}

fieldset {
	border: 1px solid #aaa;
	margin: 2em 0em;
}

	fieldset legend {
		font-weight: bold;
		padding: 0em 0.5em;
	}

	fieldset .placeholder {
		padding: 5% 1em;
	}
